.form
h1 Update my account
form(name="update-user" class="hidden")
    p First Name:
    input(type="text", name="firstName", value=user.firstName)
    p Last Name:
    input(type="text", name="lastName", value=user.lastName)
    p Phone Number:
    input(type="text", name="phoneNumber", value=user.phoneNumber)
    p Email Address:
    input(type="text", name="emailAddress", value=user.emailAddress)
    p Address:
    input(type="text", name="addressType", value=user.addressType)
    input(type="text", name="addressStreet", value=user.street)
    input(type="text", name="addressSecondStreet", value=user.secondStreet)
    input(type="text", name="addressCity", value=user.city)
    input(type="text", name="addressState", value=user.state)
    input(type="text", name="addressCity", value=user.city)
    input(type="text", name="addressZipCode", value=user.zipCode)
    input(type="text", name="addressCountry", value=user.country)
    p Password:
    input(type="text", name="password")
    input(type="submit", value="update my account")
