
h3 My Account
    p #{firstName} #{lastName}
    p #{email.emailAddress}
    p #{phone.phoneNumber}
    p #{addressType}:
    p #{address.street} #{address.secondStreet},
    p #{address.city}, #{address.state}, #{address.zipCode}
    p #{address.country}

  //- need to add fields for: password, creditCardToken, currentCart
